<h1 class="bemvindo">Bem vindo - {{investidorName}}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>Listar todas as empresas</h2>
      <p>Trazer lista das empresas que podem ser visualizadas pelo seu usuário.</p>
      <p><a class="btn btn-default" routerLink="/empresa-list" routerLinkActive="active" role="button">Ver todas as empresas</a></p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>Buscar empresas por filtro</h2>
      <p>Trazer lista de empresas por nome e tipo.</p>
      <p><a class="btn btn-default" routerLink="/empresa-filter" routerLinkActive="active" role="button">Ver empresas por filtro</a></p>
   </div>
  </div>
</div>